@font-face {
    font-family: Segoe Ui Variable;
    src: url(Font/SegoeUIVF.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(Font/HelveticaNeue-Medium.otf);
}

@font-face {
    font-family: HandWrit;
    src: url(./Font/Happines-BF660ad806f05ce.otf);
}

@font-face {
    font-family: madimione;
    src: url(important/madimi-font-1712479665-0/madimione-regular.otf);
}

@font-face {
    font-family: Potato;
    src: url(important/protofo-font-family-1712480080-0/protofo-regular.otf);
}


@font-face {
    font-family: PotatoBold;
    src: url(important/protofo-font-family-1712480080-0/protofo-bold.otf);
}

