#CropSetting {
    margin-top: 70rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s all;
    position: fixed;
}

.SettingBlurBac {
    width: 100%;
    height: 100vh;
    z-index: 15;
    position: fixed;
    background-color: #080808;
}

.setting {
    z-index: 16;
    position: fixed;
}

.setting-text h1 {
    color: #fff;
}

.setting-text a {
    color: #fff;
}